body {

    font-family: Helvetica;
    padding:0 10px;
}
#students {
	list-style:none;
	margin:0;
	padding:0;
}

.note{display:none;}
.image{display:none;}
*{
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: #444444;

}


.student{
  float:left;
  margin-top: 10px;
  margin-right:75px;
  padding-bottom: 40px;

}


.note {
  font-size: 30px;
  font-weight: 700;
  font-variant: small-caps;
}
