body {
    background: #0990D9;
    font-family: Helvetica;
    padding:20 10px;
}
ul{
  list-style:none;
  margin:70px 0 0 0;
  padding:0;
}
#box {
  width:80%;
  margin:0 auto;
}
.student {
	background: #F8f8f8;
	margin:5px;
	width:350px;
	color:#555555;
	padding:15px;
  border-radius:8px;
}
.note, .gender, .picture{
  display:none;
  margin:5px;
}
span{
  font-weight:700;
}
h1, p{
  color:#DBE9FF;
}
